*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}.container{
    background-color: rgb(218, 136, 14);;
    height: 500px;  
    display: grid;
    border: 3px solid black;
    /* grid-template-columns: 200px 210px 210px; */
    grid-template-columns: 15px 1fr 1fr 150px;
    /* grid-template-columns: repeat(3,1fr); */
    /* grid-template-columns:100px  repeat(4,1fr); */

    /* grid-template-rows: 90px 90px 90px 90px; */
    grid-template-rows:30px 1fr 30px; 
    /* gap: 10px; */
}
.box{ 
    background-color: yellow;
    border: 3px solid black;
    /* height: 80px; */
    /* width: 80px; */
}
#box3{
    grid-column-start: 2;
    grid-column-end: 4;
}

#box1 , #box4{
    grid-column-start: 1;
    grid-column-end: 5;
}

