.products{
    width: 90%;
    max-width: 500px;
    border: 1px solid coral;
    background: pink;
    border-radius: 10px;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    gap: 20px;
    overflow: hidden;
    margin: 0 auto;
}